#content{
    background-color:#eee ;
    border: rgb(233, 106, 106);
    border-style: solid;
    border-radius: 2px;   
    display: inline-block;
    padding-left: 150px;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
}
  
.date{
    background-color: beige;
}
